:root {
    --bgcolor1: #e1e2e3;
    --maincolor: #8B4411;
    --light: #fff;
    --dark: #333;
    --tagcolor: #C7AD7F;
    --bgcolor2: #F5F5DD;
    --tagcolor2:  #969696;
    --submitBtn: #24a0ed;
    --inputBorder: #d9d2d2;
    --boxShadow: 5px 5px 20px -1px rgba(0,0,0,0.55);
    --boxShadow2: 5px 5px 20px -1px rgba(0,0,0,0.2);
    --btnShadow: 5px 5px 20px -1px rgba(0,0,0,0.3);
}

html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*this is the container for index.html/title-page
using css grid template*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 3.5fr 3.5fr 3fr;
    grid-template-rows: 1.5fr 8fr 1.5fr;
    grid-template-areas: 
    ". . . ."
    ". title-tagline login-page ."
    ". . . .";
    background-color:var(--bgcolor1);
}

/*this is the title-tagline container*/
.title-tagline {
    grid-area: title-tagline;
    background-color: var(--maincolor);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    box-shadow: var(--boxShadow);
    color: var(--light);
    display: flex;
    flex-direction: column;
}

/*these are the title-tagline components*/
.title-tagline > .title-card {
    flex-grow: 100;
}

.title-tagline > .title {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.title-tagline > .title h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.title-tagline > .tagline {
    flex-grow: 1;
    font-size: 1em;
    font-weight: 400;
    color: var(--tagcolor);
}

.title-tagline > .tagline p {
    margin: 10px 0px 80px 0px;
}

/*this is a page container*/
.wrapper {
    grid-area: login-page;
    background-color: var(--bgcolor2);
    padding: 20px;
    box-shadow: var(--boxShadow);
}

/*this contains the page-header*/
.wrapper > .header {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper > .header > img {
    background-color: var(--maincolor);
    border-radius: 50%;
    width: 15%;
    height: auto;
    flex-grow: 1;
    margin: 0;
}

.wrapper > .header > h3 {
    flex-grow: 1;
    font-size: 1.4em;
    margin: 0;
    color: var(--dark);
    margin: 5px 0px 0px 0px;
}

.wrapper > .header > p {
    flex-grow: 1;
    font-size: 0.8em;
    margin: 5px 0px 0px 0px;
    color:var(--tagcolor2);
}

/*this contains the form*/
.form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.form > h5 {
    flex-grow: 1;
    margin: 0px 0px 0px 0px;
}

.form > .label-top {
    flex-grow: 1;
    margin: 10px 0px 0px 0px;
}

.form > input {
    flex-grow: 1;
    margin: 0px 0px 0px 0px;
    background-color: var(--bgcolor2);
    border-color: var(--inputBorder);
    color: var(--dark);
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
}

.form > input::placeholder {
    color: var(--tagcolor2);
}

.form > button {
    flex-grow: 1;
    margin: 20px 0px 0px 0px;
    background-color: var(--submitBtn);
    border: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--btnShadow);
    color:var(--light);
    font-weight: 600;
}

.form > .no-acc {
    flex-grow: 1;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

/*This is for the main-page
contains the brand, topbar, sidenav and main-section*/
.main-page-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 0.75fr 9.25fr;
    grid-template-areas: 
    "brandname topbar"
    "sidenav main";
    background-color: var(--bgcolor1);
    overflow: hidden;
}

brandname-section {
    grid-area: brandname;
    color: var(--maincolor);
    background-color: var(--light);
}

brandname-section > p {
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
}

topbar-section {
    grid-area: topbar;
    display: flex;
    flex-direction: row;
    background-color: var(--maincolor);
    color: var(--light);
    align-items: center;
}

topbar-section > .burger-search {
    margin: 10px 10px 10px 10px;
}

topbar-section > .burger-search > i {
    margin: 0px 10px 0px 0px;
}

topbar-section > .burger-search > .search-bar {
    margin: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--tagcolor);
    color: var(--light);
    padding: 5px 10px 5px 10px;
    border: 0;
}

topbar-section > .burger-search > .search-bar::placeholder {
    color: var(--light);
}

topbar-section > .burger-search > .search-btn {
    margin: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--tagcolor);
    color: var(--light);
    padding: 5px 10px 5px 10px;
    border: 0;
}

topbar-section > .admin-logout {
    margin-left: auto;
}

topbar-section > .admin-logout > .admin-btn{
    border: 0;
    margin: 0px 10px 0px 0px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--maincolor);
    color: var(--light)
}

topbar-section > .admin-logout > .logout{
    border: 0;
    margin: 0px 10px 0px 0px;
    padding: 5px;
    background-color: var(--maincolor);
    color: var(--light);
    font-weight: 600;
}

topbar-section > .admin-logout > .logout:hover{
    background-color: var(--tagcolor);
    color: var(--maincolor);
    border-radius: 5px;
}

sidenav-section {
    grid-area: sidenav;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    margin: 10px 0px 0px 0px;
}
sidenav-section > a {
    text-align: center;
    text-decoration: none;
    color: var(--tagcolor2);
    padding: 20px 10px 20px 10px;
    font-size: 0.8em;
}

sidenav-section > a:hover {
    color: var(--tagcolor);
    background-color: var(--light);
}

sidenav-section > .current {
    color: var(--tagcolor);
    background-color: var(--light);
}

/*Main section, nested grid
contains the business details as card
and cards that is linked to tabs*/
.dashboard{
    grid-area: main;
    display: grid;
    grid-template-columns: 1.75fr 2.25fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    "title title"
    "bus-desc-card card-holder";
}

.title {
    grid-area: title;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 20px; 
    line-height: .8;
    font-size: 1em;
}

.bus-desc-card {
    grid-area: bus-desc-card;
    background-color: var(--light);
    box-shadow: var(--boxShadow2);
    margin: 0px 10px 10px 10px;
    border-radius: 20px;
    padding: 50px;
}

.bus-desc-card > img {
    background-color: var(--maincolor);
    border-radius: 50%;
    width: 10%;
    height: auto;   
    margin: 0;
}

.bus-desc-card > p {
    color: var(--tagcolor2);
    font-size: 0.8em;
}

.bus-desc-card > .bus-name {
    color: var(--dark);
    font-size: 1.5em;
    margin: 0;
}

.bus-desc-card > .bus-loc {
    color: var(--dark);
    font-size: 1em;
}

.bus-desc-card > .con-num {
    color: var(--dark);
    font-size: 1em;
}

/*Grid for dashboard anchors*/
.card-holder {
    grid-area: card-holder;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr;
    grid-template-areas: 
    "subscriber regis-food"
    "add-menu rec-order"
    "del-pick sales";
    grid-gap: 10px;
    margin: 0px 10px 10px 10px;
}

.card-holder > .a-card {
    background-color:var(--light);
    color: var(--maincolor);
    border-radius: 10px;
    box-shadow: var(--boxShadow2);
    text-decoration: none;
}

.card-holder > .a-card:hover {
    background-color:var(--tagcolor);
    color: var(--light);
}

.card-holder > .a-card > i{
    font-size: 2.5em;
    margin: 50px 0px 0px 20px;
}

.card-holder > .a-card > h3{
    font-size: 1.25em;
    margin: 10px 0px 0px 20px;
}


.subscriber {
    grid-area: subscriber;
}

.regis-food {
    grid-area: regis-food;
}

.add-menu {
    grid-area: add-menu;
}

.rec-order {
    grid-area: rec-order;
}

.del-pick {
    grid-area: del-pick;
}

.sales {
    grid-area: sales;
}