html, body{
    margin: 0;
}

/*this is for index.html/title-login-page*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4.5fr 4.5fr 1f;
    grid-template-rows: 1fr 7fr 1r;
    grid-template-areas: 
    ". . . ."
    ". title-tagline login-page ."
    ". . . .";
}